body {
    background-color: #eff1f0;
}

h1 {
    color: #059862;
    font-family: Verdana, sans-serif;
    font-size: 40px;
}

h2 {
    color: #3a9c78;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

p {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}